body {
    margin: 0px;
/*                background-color: #F5909D;*/
    background-color: #1C2541
}
div {
    border: 0px solid blue;
}
span {
    border: 0px solid red;
}
.title{
    text-align: center;
}
.main-content{
    display: grid;
    
}
.divider{
    border-bottom: 2px solid #FDFDD3;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.dot-information{
    text-align: center;
}
.dot{
    height: 10px;
    width: 10px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    border: 1.5px solid white;
}
@media(max-width: 1000px){
    .mobile{
        display: inline;
    }
    .title-span{
        border: 0px solid red;
        line-height: 100px;
    }
    .location{
        text-align: center;
        height: 50px;
        font-size: 25px;
        font-weight: bold;
        color: white;
        line-height: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .search-bar{
        text-align: center;
        padding: 10px;
    }
    .search-bar input[type=search]{
        position: relative;
        height: 45px;
        padding: 6px;
        padding-left: 20px;
        width: 80%;
        border-radius: 25px;
        border: none;
        background-color: white;
    }
    .information-slider{
        display: grid;
        grid-template-columns: 100% 100% 100%;
        overflow: hidden;
    }
    .slider{
        height: 100%;
        padding: 10px;
        text-align: center;
        font-size: 20px;
        color: white;
    }
    .d1{
        background-color: white;
    }
    .information-list{
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px;
        font-size: 20px;
        color: white;
    }
    .filter{
        margin: auto;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 20px 1fr;
    }
    .filter-box{
        padding-top: 10px;
    }
    .filter-box button{
        width: 100%;
        height: 40px;
/*                    background-color: #FFCDD7;*/
        background-color: #3A506B;
        padding: 0px;
        border: none;
        border-radius: 25px;
        outline: none;
        font-size: 20px;
        color: white;
    }
    .location-search-dialog{
        width: 100%;
        height: 0%;
        position: fixed;
        background-color: white;
        border-radius: 25px 25px 0 0;
        z-index: 3;
        background-color: white;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%,0);
        touch-action: none;
    }
    .close{
        display: grid;
        grid-template-columns: 50px 1fr 50px;
    }
    .close-calendar{
        display: grid;
        grid-template-columns: 50px 1fr 50px;
    }
    .close-select-dialog-button{
        height: 50px;
        font-size: 20px;
        color: black;
        background-color: transparent;
        outline: none;
        text-align: center;
        width: 50px;
        border: none;
    }
    .location-search-today{
        font-size: 20px;
        font-weight: lighter;
        color: black;
        text-align: center;
        line-height: 50px;
        border-bottom: 1px solid black;
    }
    .calendar-search-location{
        font-size: 20px;
        font-weight: bolder;
        color: black;
        text-align: center;
        line-height: 50px;
        border-bottom: 1px solid black;
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;
    }
    .select-location-main{
        width: 97%;
        height: 100%;
        margin: auto;
    }
    .select-title{
        color: black;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .select{
        height: 45px;
        display: grid;
        overflow: scroll;
        padding: 10px;
    }
    .select-do{
        grid-template-columns: 30% 30% 30% 30% 30% 30% 30% 30% 30% 30% 30% 30% 30% 30% 30% 30% 30%;
    }
    .select-si{
        
    }
    .do-si-element{
        margin-right: 10px;
    }
    .do-si-element button{
        height: 100%;
        width: 100%;
        background-color: #F2F2F2;
        border-radius: 25px;
        text-align: center;
        font-size: 20px;
        color: black;
        font-weight: bold;
        border: none;
        outline: none;
    }
    .do-si-element-span{
        position: relative;
        display: block;
    }
    .select-container{
        border: 0px solid yellow
    }
    .select-amount{
        text-align: center;
        padding-bottom: 10px;
    }
    .select2{
        display: none;
    }
    .select-amount-si{
        display: none;
    }
    .select3{
        display: none;
        text-align: center;
        padding: 10px;
    }
    .location-submit{
        height: 45px;
        width: 80%;
        text-align: center;
        color: white;
/*                    background-color: #3A506B;*/
        background-color: forestgreen;
        border: none;
        border-radius: 25px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
        outline: none;
    }
    .calendar-search-dialog{
        position: fixed;
        background-color: white;
        width: 100%;
        height: 70%;
        bottom: 0px;
        z-index: 2;
        border-radius: 25px 25px 0 0;
        touch-action: none;
        display: grid;
        grid-template-rows: 60px 1fr;
    }
    .calendar-main{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .calendar-main-container{
        display: grid;
        grid-template-rows: 60px 1fr;
    }
    .calendar-year-title{
        text-align: center;
        font-size: 30px;
        font-weight: lighter;
        line-height: 50px;
    }
    .calendar-month-picker-container{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .calendar-month-overview-row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .calendar-month-overview-row{
        padding-bottom: 10px;
    }
    .calendar-month-overview{
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .calendar-month-overview button{
        position: relative;
        font-size: 20px;
        border: none;
        border-radius: 25px;
        padding: 10px;
        width: 100%;
        /* border: 2px solid red; */
        background-color: #F2F2F2;
    }
}
@media(min-width: 1001px){
    .mobile{
        display: none;
    }
    .title{
        font-size: 40px;
    }
}